# Navigation
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias -- -='cd -'

alias vssh='cd ~/dev; vagrant ssh'

# bat > cat
alias cat='bat'

# prettyping
alias ping='prettyping --nolegend'

# display listening ports
alias ports='sudo lsof -PiTCP -sTCP:LISTEN'

# ncdu
alias ncdu='ncdu --color dark -rr -x --exclude .git --exclude node_modules'

# fzf preview (also using bat)
alias preview="fzf --preview 'bat --color \"always\" {}'"

# Kubernetes
alias k='kubectl'
alias ksys='kubectl -n kube-system'

# URLs
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

# Current bitcoin value
alias bitcoin='curl -s https://api.cryptowat.ch/markets/summaries | jq ".result.\"kraken:btceur\".price.last"'

# cURL
alias curltime="curl -w \"\nConnect: %{time_connect} AppConnect: %{time_appconnect} Pre-Transfer: %{time_pretransfer} Redirect: %{time_redirect} StartTransfer (TTFB): %{time_starttransfer} Total time: %{time_total} \n\""

# Docker
alias doc="docker-compose"
alias doce="docker-compose exec"

alias dockerip="docker inspect -f '{{range .NetworkSettings.Networks}}{{.IPAddress}}{{end}}'"

# Golang list imports recursively in a project
alias golist='go list -f "$(printf '"'"'{{.ImportPath}}:\n{{range .Imports}}  {{.}}\n{{end}}'"'"')" ${1+"$@"}'

# DNS
alias dnsclear="dscacheutil -flushcache && sudo killall -HUP mDNSResponder"

# IP addresses
alias ipv4="curl -qs -4 https://ifconfig.me"
alias ipv6="curl -qs -6 https://ifconfig.me"
alias ip=ipv4
alias localip="ifconfig | grep inet | grep -Ev '(inet6|127\.0\.0\.1)' | cut -d' ' -f2"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Lock screen when going AFK
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop='defaults write com.apple.finder CreateDesktop -bool false && killall Finder'
alias showdesktop='defaults write com.apple.finder CreateDesktop -bool true && killall Finder'

# Network interfaces
alias ifactive="ifconfig | pcregrep -M -o '^[^\t:]+:([^\n]|\n\t)*status: active'"

# Go to iCloud Drive directory
alias icloud='cd ~/Library/Mobile\ Documents/com~apple~CloudDocs/'

# Monday dev tool alias
alias monday='sudo -E monday'

# PHPStan CLI tool using docker
alias phpstan='docker run -v $PWD:/app --rm phpstan/phpstan'

# Copies public key to clipboard
alias pubkey="cat ~/.ssh/id_rsa.pub | pbcopy | echo '-> Public key copied to clipboard.'"

# Starts a timer
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'

# Updates macOS applications and updates Homebrew packages
alias update='sudo softwareupdate -i -a; brew update; brew upgrade; brew cleanup'

# Merge some PDFs, usage: pdfmerge file1.pdf file2.pdf
alias pdfmerge='/System/Library/Automator/Combine\ PDF\ Pages.action/Contents/Resources/join.py -o output.pdf'

# Generates a localhost certificate (localhost.key and localhost.crt)
alias genlocalhostcert='openssl req -x509 -out localhost.crt -keyout localhost.key \
  -newkey rsa:2048 -nodes -sha256 \
  -subj ''/CN=localhost'' -extensions EXT -config <( \
   printf "[dn]\nCN=localhost\n[req]\ndistinguished_name = dn\n[EXT]\nsubjectAltName=DNS:localhost\nkeyUsage=digitalSignature\nextendedKeyUsage=serverAuth")'

alias vlc='/Applications/VLC.app/Contents/MacOS/VLC'
