# ASDF
export ASDF_DATA_DIR=/Users/vincent/.asdf

# Android SDK
export ANDROID_SDK="$HOME/Library/Android/sdk"

# GPG
export GPG_TTY=$(tty)

export PKG_CONFIG_PATH="/usr/local/Cellar/openssl@3/lib/pkgconfig:/opt/homebrew/bin/pkg-config:$(brew --prefix icu4c)/lib/pkgconfig:$(brew --prefix curl)/lib/pkgconfig:$(brew --prefix zlib)/lib/pkgconfig"

export LDFLAGS="-L/opt/homebrew/opt/openssl@3/lib"
export CPPFLAGS="-I/opt/homebrew/opt/openssl@3/include"

# Golang
export GOPATH="$HOME/golang"
export GOBIN="$GOPATH/bin"

# PHP / Symfony
export SYMFONYBIN="$HOME/.symfony/bin"

# Visual Studio Code
export CODEPATH="/Applications/Visual Studio Code.app/Contents/Resources/app/bin"

# PATH
export PATH="$PATH:$GOBIN:$SYMFONYBIN:$CODEPATH"
export PATH="/opt/homebrew/opt/curl/bin:$PATH"
export PATH="/opt/homebrew/opt/bison/bin:$PATH"
export PATH="/opt/homebrew/opt/openjdk/bin:$PATH"
export PATH="${KREW_ROOT:-$HOME/.krew}/bin:$PATH"
export PATH="$ASDF_DATA_DIR/shims:$PATH"
export PATH="$HOME/.local/bin:$PATH"

# add support for ctrl+o to open selected file in VS Code
export FZF_DEFAULT_OPTS="--bind='ctrl-o:execute(code {})+abort'"

# ignore history commands starting with space
export HISTIGNORE=' *'

export TERM=xterm
