# Android SDK
export ANDROID_SDK="$HOME/Library/Android/sdk"

# GPG
export GPG_TTY=$(tty)

export PKG_CONFIG_PATH="/usr/local/Cellar/openssl@1.1/1.1.1t/lib/pkgconfig/"

# Golang
export GOPATH="$HOME/golang"
export GOBIN="$GOPATH/bin"

# PHP / Symfony
export SYMFONYBIN="$HOME/.symfony/bin"

# Visual Studio Code
export CODEPATH="/Applications/Visual Studio Code.app/Contents/Resources/app/bin"

# PATH
export PATH="$PATH:$GOBIN:$SYMFONYBIN:$CODEPATH"
export PATH="/usr/local/opt/curl/bin:$PATH"
export PATH="/usr/local/opt/qt/bin:$PATH"
export PATH="$HOME/Library/Android/sdk/platform-tools:$PATH"
export PATH="$HOME/.asdf/shims:$PATH"

# add support for ctrl+o to open selected file in VS Code
export FZF_DEFAULT_OPTS="--bind='ctrl-o:execute(code {})+abort'"

# ignore history commands starting with space
export HISTIGNORE=' *'

export TERM=xterm
