"*":
  "api-docs":
    "angular~2_dart": true
    "angular~2_typescript": true
    ansible: true
    "docker~1":
      "12": true
    express: true
    git: true
    go: true
    jquery: true
    "laravel~5":
      "3": true
    node: true
    "postgresql~9": {}
    sass: true
    "symfony~2": {}
    "symfony~3":
      "1": true
    twig: true
  "atom-autocomplete-php":
    verboseErrors: true
  "atom-symfony2":
    console: [
      "bin/console"
    ]
  "atom-ternjs": {}
  "autocomplete-go": {}
  "autocomplete-plus":
    enableExtendedUnicodeSupport: true
  core:
    audioBeep: false
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
        ".hgrc"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    packagesWithKeymapsDisabled: []
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
    useCustomTitleBar: true
  editor:
    fontSize: 12
    showIndentGuide: true
    tabLength: 4
  "exception-reporting":
    userId: "df06a4e1-9c09-af3a-51d9-b173c7ee2d15"
  "file-icons": {}
  "git-blame": {}
  "go-config":
    gopath: "~/dev"
  linter: {}
  "one-dark-ui":
    fontSize: 12
    layoutMode: "Compact"
    tabSizing: "Minimum"
  "php-cs-fixer":
    executablePath: "php-cs-fixer"
    level: "symfony"
    showInfoNotifications: true
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  tabs:
    addNewTabsAtEnd: true
    enableVcsColoring: true
  "tree-view":
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
